* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

section {
    margin-top: 130px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: contain;
}

/* Header and Navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #0c1db9;
}

.btn-primary {
    height: 64px;
    border-radius: 5px;
    background: #0c1db9;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;

}

/* Banner Styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;

}

.banner-title {
    font-weight: 700;
    font-size: 53px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main section */
main {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* about section styles */
.about {
    /* margin-top: 130px; */
    background: #fdc8a2;
    border-radius: 10px;
    padding: 130px 150px;


}

.section-title {
    font-weight: 700;
    margin-bottom: 50px;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* what i do styles */
.what-i-do {
    /* margin-top: 130px; */
    margin-bottom: 300px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* text-align: center; */
}

.skill-description {
    color: #757575;
}

/* Resume styles */
.resume-content {
    display: flex;
    gap: 24px;
    text-align: left;
    /* font-weight: 700;
font-size: 30px; */
color: #474747;
}
.resume-item{
    /* font-weight: 700;
font-size: 25px; */
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.resume .title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.resume .sub-title {
    font-weight: 600;
font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume .description {
    color: #757575;
    font-weight: 400;
font-size: 16px;

}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type"email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}